.main-content-container {
    background-color: aliceblue;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    overflow: auto;
}

.sticky-top-container {
    position: sticky;
    top: 14vh;
    background-color: aliceblue;
    height: 3vh;
    padding: 2vh;
    z-index: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    border-bottom: solid 1px grey;
    font-weight: bold;
}

.customor-list-info-box{
    border-bottom: grey 1px solid;
    padding: 1.5vh;
    display: flex;
    flex-direction: column;
}


.customer-list-name-container{
    padding: .5vh
}
.customer-list-information-container{
    padding: .5vh
}

.user-edit-icon-save{
    color: rgb(8, 104, 8);
    height: 3vh;
}
.user-edit-save{
    color: rgb(8, 104, 8);
    padding: 1vh
}
.user-edit-icon-select{
    color: rgb(51, 71, 160);
    height: 3vh;
}
.user-edit-select{
    color: rgb(51, 71, 160)
}


.back-arrow{
    height: 4.5vh;
    width: 6vh;
    color: rgb(13, 30, 83);
    position: absolute;
    left: 0;
}

.back-arrow-container{
    position: absolute;
    left: 0
}

