.header-logo {
    height: 5vh;
    width: auto;
    padding: 1vh;
}

.search-and-option-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-field{
    height: 3vh;
    border-radius: 10px;
    border: none;
    padding-left: 8px;
}

.search-field-container{
    padding: 5px
}


.select-field {
    height: 3.5vh;
    width: 25vw;
    max-width: 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 2vh;
}